
- Kinh Lăng Nghiêm/Kinh Lăng Nghiêm - 50 ngũ ấm ma.HT Tuyên Hóa.m4a
- Kinh Lăng Nghiêm/Kinh Lăng Nghiêm lược giảng.T Duy Lực.m4a
- Kinh Lăng Nghiêm/Phim Kinh Thủ Lăng Nghiêm.mp3
- Kinh Lăng Nghiêm/Phim Kinh Thủ Lăng Nghiêm.mp4
- Kinh Lăng Nghiêm/Kinh Lăng Nghiêm lược giảng.HT Tuyên Hóa.m4a
